{
  "parser": "babel-eslint",
  "plugins": ["react", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "singleQuote": true,
        "tabWidth": 2,
        "printWidth": 100,
        "semi": true
      }
    ]
  },
  "extends": ["prettier", "prettier"]
}
